<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<TilledSoil.ModTitle>Configurable Tilled Soil</TilledSoil.ModTitle>
	<TilledSoil.FertilityLabel>Fertility {0} %</TilledSoil.FertilityLabel>
	<TilledSoil.FertilityExplanation>Normal soil: 100%, Rich soil: 140%</TilledSoil.FertilityExplanation>
	<TilledSoil.AffordanceTill>Terrain affordance for tilling</TilledSoil.AffordanceTill>
	<TilledSoil.AffordanceTillLight>Can till anywhere a normal floor can be placed.</TilledSoil.AffordanceTillLight>
	<TilledSoil.AffordanceTillGrowable>Can only till in growable soil.</TilledSoil.AffordanceTillGrowable>
	<TilledSoil.AffordanceDirt>Terrain affordance for dirt</TilledSoil.AffordanceDirt>
	<TilledSoil.AffordanceDirtLight>Can place dirt anywhere a normal floor can be placed.</TilledSoil.AffordanceDirtLight>
	<TilledSoil.AffordanceDirtSmoothable>Can only place dirt on rough stone.</TilledSoil.AffordanceDirtSmoothable>
	<TilledSoil.RequireCost>Tilling requires bags of dirt</TilledSoil.RequireCost>
	<TilledSoil.RequireCostExplanation>Does the Tilled Soil require dirt to construct? Restart Required.</TilledSoil.RequireCostExplanation>
	<TilledSoil.DirtCost>Construction cost in dirt</TilledSoil.DirtCost>
	<TilledSoil.DirtCostExplanation>How much dirt is required for one tile.</TilledSoil.DirtCostExplanation>
	<TilledSoil.WorkAmount>Work amount required</TilledSoil.WorkAmount>
	<TilledSoil.WorkAmountExplanation>How much work is required to construct the soil. Concrete: 100, Flagstone: 500. Game restart required.</TilledSoil.WorkAmountExplanation>
</LanguageData>